
<!DOCTYPE html>
<html lang="en">
<head>
        {{>headerlink}}
</head>
<body>
   {{>navbar}}
   <!-- main header -->
        <div class=".container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                          <!-- rigth side -->
                          <div class="col-md-6 col-12 main_header_right align-items-center">
                              <figure>
                                <img src="images/4.jpg" style="border-radius: 50%; width:88%" alt="cloud" class="img-fluid">
                              </figure>
                        </div>
                        <!-- left side dic -->
                        <div class="col-md-6 col-12 main_header_left">
                            <h1 style="color: rgb(106, 52, 168);">Weather is the state of the atmosphere, describing for example the degree to which it is hot or cold, wet or dry, calm or stormy, clear or cloudy. ... On Earth.</h1>
                            <a href="https://en.wikipedia.org/wiki/Weather" target="_blank"><button>Know More</button></a>
                        </div>
                    </div>
                </div>
            </div>
         </div>

        {{>footer}}
</body>
</html>