
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
   {{>navbar}}
   <!-- main header -->
        <div class=".container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                   <div class="main_content">
                       <form class="temp_form">
                           <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="="off>
                           <input type="submit" value="search" id="submitBtn">
                       </form>
                   </div>
                   <div class="tempInformation">
                       <div class="top_layer">
                           <p id="day">Tuesday</p>
                           <p id="today">13, OCT</p>
                       </div>
                       <div class="main_layer">
                           <p id="city_name">Get Output Here</p>
                           <div class="middle_layer data_hide">
                               <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                               <p id="temp_status"><i class="fa fa-cloud aria-hidden="true"></i></p>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
         </div>

        {{>footer}}
        <script src="js/main.js"></script>
        <script>

               const getCurrDay = () => {
                var weekday = new Array(7);
                weekday[0] = "Sun";
                weekday[1] = "Mon";
                weekday[2] = "Tue";
                weekday[3] = "Wed";
                weekday[4] = "Thu";
                weekday[5] = "Fri";
                weekday[6] = "Sat";
                let currTime = new Date();
                days = weekday[currTime.getDay()];
                const day = document.getElementById('day');
                day.innerText=days;
            };
            getCurrDay();
            const getCurrTime = () => {
                    var months = [
                    "Jan",
                    "Feb",
                    "March",
                    "April",
                    "May",
                    "June",
                    "July",
                    "Aug",
                    "Sept",
                    "Oct",
                    "Nov",
                    "Dec"
                ];
                const now = new Date();
                var month = months[now.getMonth()];
                var date = now.getDate();
                const today = document.getElementById('today');
                today.innerText = ` ${date}, ${month}`;
                console.log(date + " " + month);
                };
            getCurrTime();
        </script>
</body>
</html>